
/*******************1...begin the common style*******************************/
html{
	font-size: 625%;/**1rem=10px**/
}
body{
	font-family: Tahoma, Verdana, sans-serif;
}
div.wrap{
	width: 8.5rem;
	height: 5.3rem;
	background:url('../img/2.png') no-repeat 0;
	margin: .3rem auto;
	position: relative;
	-webkit-box-shadow: 0 0 18px 7px rgba(153, 0, 0, .4);
	-moz-box-shadow:    0 0 18px 7px rgba(153, 0, 0, .4);
	box-shadow:         0 0 18px 7px rgba(153, 0, 0, .4);
}
div.bot{
	height: 0.7rem;
	width: 100%;
	position: absolute;
	bottom: 0;

}
div.bot div{
	position: absolute;
}
div.left{
	width: 3.4rem;
	height: 4.6rem;
	float: left;
	position: relative;
	/*outline: 1px solid red;*/
}
div.right{
	width: 4.3rem;
	height: 3.5rem;
	float: left;
	position: relative;
	margin-top: .4rem;
	padding: 0 .35rem;
	/*border: 1px solid yellow;*/
	overflow: hidden;
	/*outline: 1px solid red;*/
}
div.pre,div.next,div.play-btn{
	width: .36rem;
	height: .36rem;
	top: .05rem;
}
div.pre,div.next,div.play-btn, div.pro-btn,div.vol-btn,div.vol,div.up-down,ul.song-list li span
,div.music-info,div.progress{
	cursor: pointer;
}

/*******************2...the style of bottom div*******************************/
div.pre , div.next{
	border-radius: 50%;
	border: 2px solid #fff;
}
div.pre{
	left:.3rem;
	background: url('../img/pre.png') no-repeat 50% 50%;
}
div.next{
	right:.3rem;
	background: url('../img/next.png') no-repeat 50% 50%;;
}
div.play-btn{
	left: 1rem;
	background: url('../img/play.png') no-repeat 50% 50%;
}
div.progress{
	width: 4.8rem;
	height: 0.02rem;
	background:#fff;
	top: .25rem;
	left: 1.6rem;
}
div.progress div.pro-btn{
	width: .14rem;
	height: .14rem;
	border-radius: 50%;
	background: #fff;
	top: -0.06rem;
	-webkit-box-shadow:0 0 5px 5px #c3c;
	-moz-box-shadow:   0 0 5px 5px #c3c;
	box-shadow:        0 0 5px 5px #c3c;
}
div.progress div.pro-line{
	height: 0.02rem;
	position: absolute;
	left: 0;
	background:#3ff;
}

/******“Ù¡ø********/
div.vol{
	width: .3rem;
	height: .3rem;
	position: absolute;
	right: 1.2rem;
	top: .09rem;
	background:url("../img/vol.png") no-repeat 50% 50%;
}
div.vol-control{
	width: 0.02rem;
	height: .8rem;
	background: #3ff;
	position: absolute;
	top: -.9rem;
	display: none;
	left: .11rem; /*margin: 0 auto don't work here ??why???*/
}
div.vol-btn{
	width: .13rem;
	height: .13rem;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	left: -.06rem;
	-webkit-box-shadow:0 0 5px 3px #3ff;
	-moz-box-shadow:   0 0 5px 3px #3ff;
	box-shadow:        0 0 5px 3px #3ff;
}
span.time{
	width: .4rem;
	height: .2rem;
	line-height: .2rem;
	text-align: center;
	display: block;
	position: absolute;
	top: .15rem;
	right: 1.6rem;
	font-size: .18rem;
	color: #fff;
}
/*******************2..the style of left div*******************************/
/*******************2-1..the style of music information*******************************/
div.left div.music-info{
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	border: 0.03rem solid #fff;
	position: absolute;
	top:50%;
	margin-top:-1.1rem;
	left: .75rem;
	text-align: center;
	font-size: .23rem;
	color: #fff;
}
div.left div.music-info span{
	display: block;
	padding: .2rem 0 0 0 ;
	position: relative;
	z-index: 1;
	text-shadow: 0 0 2px #6ff;
}
div.left div.music-info span.name{
	margin-top:.3rem;
}
div.left div.music-info img {
	position: absolute;
	width: 2rem;
	height: 2rem;
	top: 0;
	left: 0;
	border-radius: 50%;
	z-index: 0;
}
	/*******************2-2..the style of song list*******************************/
ul.song-list{
	background: rgba(0, 0, 0, .7);
	position: relative;
	height: 4.3rem;
	overflow-x: hidden;
	display: none;
	z-index: 10;
}
ul.song-list li{
	display: block;
	height: .55rem;
	padding: 0.05rem .1rem;
	border-bottom:1px solid #fff;
	position: relative;
	-webkit-transition: background 0.5s;
	-moz-transition:    background    0.5s;
	-ms-transition:     background     0.5s;
	-o-transition:      background      0.5s;
	transition:         background         0.5s;
}
ul.song-list li:hover{
	-webkit-box-shadow: inset 0 0 5px 5px rgba(51,153,255, 0.5);
	-moz-box-shadow:    inset 0 0 5px 5px rgba(51,153,255, 0.5);
	box-shadow:         inset 0 0 5px 5px rgba(51,153,255, 0.5);

}


ul.song-list li span:not(.love){
	display: block;
	height: .3rem;
	line-height: .3rem;
	width: 65%;
	font-size: .15rem;
	color: #3ff;
	padding-left: .25rem;

}
span.list-name{
	background: url("../img/song.png") no-repeat 0 50%;
}
span.list-singer{
	background: url("../img/singer.png") no-repeat 0 50%;
}
span.love{
	display: block;
	width:.3rem;
	height: .3rem;
	position: absolute;
	right: .2rem;
	top: 50%;
	margin-top: -.1rem;
	background: url("../img/love1.png") no-repeat 50% 50%;
}
/*******************2-3.the style of up and down arrow*******************************/
div.up-down{
	width: 100%;
	height: .3rem;
	position: absolute;
	top: -.01rem;
	-webkit-box-shadow: inset 0 0 5px 5px rgba(102,0,102,0.5);
	-moz-box-shadow:    inset 0 0 5px 5px    rgba(102,0,102,0.5);
	box-shadow:         inset 0 0 5px 5px         rgba(102,0,102,0.5);
	background: url("../img/up-down.png") no-repeat 50% 50%;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}

/*******************3 the style of lyric list*******************************/
ul.lrc-list{
	width: 4.3rem;
	height: 3.9rem;
	/*border: 1px solid red;*/
	font-size: .2rem;
	-webkit-transition: margin-top .6s;
	-moz-transition:    margin-top .6s;
	-ms-transition:     margin-top .6s;
	-o-transition:      margin-top .6s;
	transition:         margin-top .6s;
}
ul.lrc-list li{
	text-align: center;
	display: block;
	margin: 0 auto;
	height: .35rem;
	line-height: .35rem;
	color: #fff;
	-webkit-transition: all  .6s;
	-moz-transition:    all  .6s;
	-ms-transition:     all  .6s;
	-o-transition:      all  .6s;
	transition:         all  .6s;
}
ul.lrc-list li.curr{
	color: #f93;
	text-shadow:0 0 2px #c0f;
}

span.bottom{
	font-size: .17rem;
	position: absolute;
	top: 6rem;
	left: 65%;

}