
/*******************1...begin the common style*******************************/
html{
	font-size: 62.5%;/**1rem=10px**/
}
div.wrap{
	width: 85rem;
	height: 53rem;
	background:url('../img/1.png') no-repeat 0;
	margin: 2rem auto;
	position: relative;
}
div.bot{
	height: 7rem;
	width: 100%;
	position: absolute;
	bottom: 0;

}
div.bot div{
	position: absolute;
}
div.left{
	width: 34rem;
	height: 46rem;
	float: left;
	position: relative;
	/*outline: 1px solid red;*/
}
div.right{
	width: 50rem;
	height: 46rem;
	float: left;
	position: relative;
	/*outline: 1px solid red;*/
}
div.pre,div.next,div.play-btn{
	width: 5rem;
	height: 5rem;
	top: 1rem;
}
div.pre,div.next,div.play-btn, div.pro-btn,div.vol-btn,div.vol,div.up-down,ul.song-list li
,div.music-info{
	cursor: pointer;
}

/*******************2...the style of bottom div*******************************/
div.pre , div.next{
	border-radius: 50%;
	border: 1px solid #fff;
}
div.pre{
	left:3rem;
	background: url('../img/pre.png');
}
div.next{
	right:3rem;
	background: url('../img/next.png');
}
div.play-btn{
	left: 10rem;
	background: url('../img/play.png') no-repeat 50% 50%;
}
div.progress{
	width: 48rem;
	height: 0.2rem;
	background:#3ff;
	top: 3.25rem;
	left: 16rem;
}
div.progress div.pro-btn{
	width: 1.4rem;
	height: 1.4rem;
	border-radius: 50%;
	background: #fff;
	top: -0.6rem;
	-webkit-box-shadow:0 0 5px 5px #c3c;
	-moz-box-shadow:   0 0 5px 5px #c3c;
	box-shadow:        0 0 5px 5px #c3c;
}
div.vol{
	width: 3rem;
	height: 3rem;
	position: absolute;
	right: 10rem;
	top: 1.6rem;
	background:url("../img/vol.png") no-repeat 50% 50%;
}
div.vol-control{
	width: 0.2rem;
	height: 8rem;
	background: #3ff;
	position: absolute;
	top: -9rem;
	display: none;
	left: 1.1rem; /*margin: 0 auto don't work here ??why???*/
}
div.vol-btn{
	width: 1.3rem;
	height: 1.3rem;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: 8rem;
	left: -0.6rem;
	-webkit-box-shadow:0 0 5px 3px #3ff;
	-moz-box-shadow:   0 0 5px 3px #3ff;
	box-shadow:        0 0 5px 3px #3ff;
}
span.time{
	width: 4rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	display: block;
	position: absolute;
	top: 2rem;
	right: 16rem;
	font-size: 1.8rem;
	color: #fff;
}
/*******************2..the style of left div*******************************/
/*******************2-1..the style of music information*******************************/
div.left div.music-info{
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
	border: 0.3rem solid #fff;
	position: absolute;
	top:50%;
	margin-top:-11rem;
	left: 7.5rem;
	text-align: center;
	font-size: 2.3rem;
	color: #fff;
}
div.left div.music-info span{
	display: block;
	padding: 2rem 0 0 0 ;
	position: relative;
	z-index: 1;
}
div.left div.music-info span.name{
	margin-top:3rem;
}
div.left div.music-info img {
	position: absolute;
	width: 20rem;
	height: 20rem;
	top: 0;
	left: 0;
	border-radius: 50%;
	z-index: 0;
}
	/*******************2-2..the style of song list*******************************/
ul.song-list{
	background: rgba(0, 0, 0, .7);
	position: relative;
	height: 43rem;
	overflow-x: hidden;
	display: none;
	z-index: 10;
}
ul.song-list li{
	display: block;
	height: 5.5rem;
	padding: 0.5rem 1rem;
	border-bottom:1px solid #fff;
	position: relative;
	-webkit-transition: background 0.5s;
	-moz-transition: background    0.5s;
	-ms-transition: background     0.5s;
	-o-transition: background      0.5s;
	transition: background         0.5s;
}
ul.song-list li:hover{
	-webkit-box-shadow: inset 0 0 5px 5px rgba(51,153,255, 0.5);
	-moz-box-shadow:    inset 0 0 5px 5px rgba(51,153,255, 0.5);
	box-shadow:         inset 0 0 5px 5px rgba(51,153,255, 0.5);

}


ul.song-list li span:not(.love){
	display: block;
	height: 3rem;
	line-height: 3rem;
	width: 70%;
	font-size: 1.5rem;
	color: #3ff;
	padding-left: 2.5rem;

}
span.list-name{
	background: url("../img/song.png") no-repeat 0 50%;
}
span.list-singer{
	background: url("../img/singer.png") no-repeat 0 50%;
}
span.love{
	display: block;
	width:3rem;
	height: 3rem;
	position: absolute;
	right: 2rem;
	top: 50%;
	margin-top: -1rem;
	background: url("../img/love1.png") no-repeat 50% 50%;
}
/*******************2-3.the style of up and down arrow*******************************/
div.up-down{
	width: 100%;
	height: 3rem;
	border-top: 1px solid #fff;
	border-bottom:1px solid #fff;
	position: absolute;
	top: 0;
	-webkit-box-shadow: inset 0 0 5px 5px rgba(102,0,102,0.5);
	-moz-box-shadow:    inset 0 0 5px 5px    rgba(102,0,102,0.5);
	box-shadow:         inset 0 0 5px 5px         rgba(102,0,102,0.5);
	background: url("../img/up-down.png") no-repeat 50% 50%;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}

